{% extends "layout.html" %} {% block content %}

<body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <div class="form-wrapper"></div>
    <a href="/logout">Logout</a>
    <a href="/">Home</a>

    <h1>Search for a book:</h1>
    <div class="form-wrapper">


        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button> {{ message }}
        </div>
        {% endfor %}



        <div>
            <form method="POST" action="">


                <fieldset class="review">
                    {{ form.review.label }} {{ form.review(placeholder='enter your review here') }} {% if form.review.errors %}
                    <ul class="errors">
                        {% for error in form.review.errors %}
                        <li>{{ error }}</li>{% endfor %}
                    </ul>
                    {% endif %}
                </fieldset>

                <fieldset class="rating">
                    {{ form.rating.label }} {{ form.rating }} {% if form.rating.errors %}
                    <ul class="errors">
                        {% for error in form.rating.errors %}
                        <li>{{ error }}</li>{% endfor %}
                    </ul>
                    {% endif %}
                </fieldset>

                <div class="submit-button">
                    {{ form.submit }}
                </div>

                <div class="login-signup">
                    <span>Don't have an account? <a href="/signup">Sign up.</a></span>
                </div>

            </form>
        </div>
    </div>

    {% endblock %}